@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
.dark {
  background-color: #fff !important;
  color: #000 !important;
}

.light {
  background-color: #fff;
  color: #100f0f;
}

header {
  position: sticky;
  top: 0;
  z-index: 100;
  color: #fff;
  line-height: 2.5rem;
  padding: 1.5rem 0;
  max-width: 1440px;
  margin: 0 auto;
}
header .logo #programmer {
  height: 48px;
  width: 48px;
}
header .logo h1 {
  font-size: 1.75rem;
  margin-left: 1rem;
}
header .navbtn {
  text-align: right;
  display: none;
}
header nav ul {
  border: 1px solid #1f1c1c;
  border-radius: 1.5rem;
  width: fit-content;
  margin: 0 auto;
  padding: 0.5rem 1.5rem;
  border-top-width: 2px;
  border-top-color: #b10e45;
  border-bottom-color: rgb(12, 12, 182);
  border-bottom-width: 2px;
}
header nav ul li {
  margin-left: 0.5rem;
}
header nav ul li a {
  font-size: 1rem;
  padding: 10px 15px;
  color: #fff;
}
header nav ul li a:hover {
  color: #ff0055;
}
header .nav-btn {
  background: none;
  border: 1px solid #1f1c1c;
  color: #fff;
  padding: 10px 20px;
  font-size: 2rem;
  border-radius: 1rem;
  cursor: pointer;
  text-align: right;
}
header .btn:hover {
  transition: all 0.3s ease;
  background: linear-gradient(to right, #ffad06, #ff105f);
}
header .btn {
  background: linear-gradient(to right, #ff105f, #ffad06);
  color: #fff;
  padding: 10px 20px;
  font-size: 1.2rem;
  border-radius: 1rem;
  cursor: pointer;
}
header .btnMode {
  background: none;
  border: 1px solid #1f1c1c;
  color: #fff;
  padding: 10px 20px;
  font-size: 1.2rem;
  border-radius: 1rem;
  cursor: pointer;
}
header .btnMode:hover {
  transition: all 0.8s ease;
  background: #ffffff;
  color: #000;
}
header .show {
  position: absolute;
  left: 0;
  right: 0;
  top: 107px;
  background-color: #200238;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  transition: all 1s ease;
}
header .show ul {
  width: 100%;
  border: none;
  flex-direction: column;
  justify-content: end;
  align-items: end;
}
header .show ul li {
  margin: 0.5rem 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

.body {
  font-family: "Nunito Sans", sans-serif;
  color: #dbcece;
  background-color: #11001f;
  position: relative;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

[class*=col-] {
  padding: 0 10px;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.hr {
  margin: 8rem 0;
  height: 2px;
  background-color: #1f1c1c;
}

.my4 {
  margin: 2rem 0;
}

.my2 {
  margin: 1rem 0;
}

.my1 {
  margin: 0.5rem 0;
}

.col-1 {
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-2 {
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-5 {
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col-8 {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-11 {
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-1 {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-start {
  justify-content: flex-start;
}

.just-space {
  justify-content: space-around;
}

.wrap-1 {
  padding: 6rem 0;
  text-align: center;
}
.wrap-1 .wrap-1-img {
  width: 8rem;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
}
.wrap-1 h2 {
  font-size: 1.5rem;
  margin: 1rem 0;
  margin-bottom: 2rem;
}
.wrap-1 p {
  font-size: 4rem;
}
.wrap-1 .btn-cv {
  background-color: #fff;
  color: #000;
  padding: 20px 40px;
  font-size: 1rem;
  border-radius: 1.8rem;
  cursor: pointer;
}
.wrap-1 .btn-hire {
  background: linear-gradient(to right, #ff105f, #ffad06);
  color: #000;
  padding: 20px 40px;
  font-size: 1rem;
  border-radius: 1.8rem;
  cursor: pointer;
  color: #fff !important;
}
.wrap-1 .wrap-1-btn {
  margin-top: 2rem;
}

.wrap-2 {
  margin: 6rem 0;
}
.wrap-2 .wrap-2-img .inside {
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrap-2 .wrap-2-img .profile-img {
  border: 1px solid;
  border-radius: 50%;
  width: 320px;
  height: 320px;
  object-fit: cover;
}
.wrap-2 .heading {
  text-align: center;
  padding: 2rem 0;
  margin-bottom: 1rem;
}
.wrap-2 .heading p {
  font-size: 20px;
  margin: 0.5rem 0;
}
.wrap-2 .heading h2 {
  font-size: 3rem;
}
.wrap-2 .education {
  text-align: left;
}
.wrap-2 .education p {
  font-weight: 500;
}
.wrap-2 .education .education-items {
  min-height: 210px;
  padding: 1.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 1rem;
}
.wrap-2 .education .education-items h4 {
  font-size: 1.2rem;
}
.wrap-2 .education .education-items p {
  font-size: 0.9rem;
}
.wrap-2 .icon {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 0.5rem;
  height: 3rem;
  width: 3rem;
}
.wrap-2 .icon .icon-img {
  width: 100%;
  height: 100%;
}

.wrap-4 {
  padding: 4rem 0 1rem 0;
  text-align: center;
}
.wrap-4 .heading {
  text-align: center;
  padding: 2rem 0;
  margin-bottom: 1rem;
}
.wrap-4 .heading p {
  font-size: 20px;
  margin: 0.5rem 0;
}
.wrap-4 .heading h2 {
  font-size: 3rem;
}
.wrap-4 .input {
  width: 100%;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  border-width: 1px;
  border-radius: 10px;
  background-color: antiquewhite;
  font-size: 1.5rem;
  border-top: 2px solid #d70808;
  border-left: 2px solid #d70808;
  border-right: 2px solid #0000ff;
  border-bottom: 2px solid #0909e9;
  outline: none;
}
.wrap-4 .message {
  min-height: 6rem;
  width: 100%;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  border-width: 1px;
  border-radius: 10px;
  background-color: antiquewhite;
  font-size: 1.5rem;
  border-top: 2px solid #d70808;
  border-left: 2px solid #d70808;
  border-right: 2px solid #0000ff;
  border-bottom: 2px solid #0909e9;
  outline: none;
}
.wrap-4 .contact-btn {
  padding: 0.5rem 1rem;
  width: fit-content;
  background-color: antiquewhite;
  font-size: 1.5rem;
  border-top: 2px solid #d70808;
  border-left: 2px solid #d70808;
  border-right: 2px solid #0000ff;
  border-bottom: 2px solid #0909e9;
  cursor: pointer;
  border-radius: 1rem;
  transition: all 0.3s;
}
.wrap-4 .contact-btn:hover {
  background: linear-gradient(to right, #ff105f, #ffad06);
  font-size: 1.5rem;
  color: #fff;
  border-right: 2px solid #d70808;
  border-bottom: 2px solid #d70808;
  border-top: 2px solid #0000ff;
  border-left: 2px solid #0909e9;
}
.wrap-4 .heading2 {
  margin-top: 6rem;
  text-align: center;
}
.wrap-4 .heading2 #programmers {
  height: 96px;
  width: 96px;
}

footer {
  padding: 2rem 0;
}

.active-btn {
  background-color: #200238 !important;
  color: #ffeded !important;
}

.wrap-3 {
  padding: 4rem 0;
}
.wrap-3 .heading {
  text-align: center;
  padding: 2rem 0;
  margin-bottom: 1rem;
}
.wrap-3 .heading p {
  font-size: 20px;
  margin: 0.5rem 0;
}
.wrap-3 .heading h2 {
  font-size: 3rem;
}
.wrap-3 .work-buttons {
  margin: 2rem 0;
  border: 2px solid #2b2626;
  border-radius: 10px;
}
.wrap-3 .work-buttons .work-btn {
  padding: 0.5rem 1rem;
  width: 70%;
  background-color: transparent;
  color: #fff;
  font-size: 1.5rem;
  border-right: 1px solid #121010;
  cursor: pointer;
  transition: all 0.3s;
}
.wrap-3 .work-buttons .work-btn:hover {
  background-color: #fff;
  color: #171515;
}
.wrap-3 .work-buttons :nth-child(1) {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.wrap-3 .work-buttons :nth-child(1):hover {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.wrap-3 .work-buttons :nth-child(4) {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-right: none;
}
.wrap-3 .work-buttons :nth-child(4):hover {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-right: none;
}
.wrap-3 .works {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  height: 550px;
  overflow: scroll;
  overflow-x: hidden;
  padding: 1rem;
}
.wrap-3 .works .work-item {
  max-height: 250px;
  border: 1px solid #ccc;
  border-radius: 15px;
  position: relative;
}
.wrap-3 .works .work-item .work-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  aspect-ratio: 1/1;
}
.wrap-3 .works .work-item .work-info {
  position: absolute;
  left: 0;
  padding: 0.5rem 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: #31035c;
}
.wrap-3 .works .work-item .work-info p {
  font-size: 1.5rem;
  color: #ffffff;
  text-align: center;
}
.wrap-3 .works .work-item .work-info-2 {
  position: absolute;
  left: 0;
  padding: 0.5rem 0;
  top: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 11;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  cursor: none;
  background-color: #31035c;
}
.wrap-3 .works .work-item .work-info-2 p {
  font-size: 1.5rem;
  color: #ffffff;
  text-align: center;
}
.wrap-3 .works .work-item:hover .work-info {
  transition: all 1s ease;
  visibility: visible;
  opacity: 1;
  bottom: 0;
}
.wrap-3 .works .work-item:hover .work-info-2 {
  transition: all 1s ease;
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 1180px) {
  .col-pc-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-pc-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-pc-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .wrap-2 .wrap-2-img {
    text-align: center;
  }
  .wrap-2 .wrap-2-img .profile-img {
    max-height: 12rem;
    max-width: 12rem;
  }
  .wrap-2 .hidden {
    display: none;
  }
}
@media screen and (max-width: 980px) {
  header .collapse {
    display: none;
  }
  header .navbtn {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .col-t-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-t-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-t-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-t-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-t-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-t-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-t-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-t-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-t-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-t-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-t-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-t-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .wrap-2 .education {
    text-align: center;
  }
}
@media screen and (max-width: 640px) {
  .col-m-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-m-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-m-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-m-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-m-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-m-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-m-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-m-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-m-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-m-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-m-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-m-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .wrap-1 {
    padding: 2rem 0;
  }
  .wrap-1 .wrap-1-img {
    text-align: center;
  }
  .wrap-1 p {
    font-size: 1.8rem !important;
  }
  .wrap-1 .btn-cv {
    padding: 1rem 1.5rem;
  }
  .wrap-1 .btn-hire {
    padding: 1rem 1.5rem;
  }
  .heading {
    padding: 1rem 0;
  }
  .heading h2 {
    font-size: 2rem !important;
  }
  .heading p {
    font-size: 1.2rem !important;
  }
  .wrap-4 {
    padding: 0 0 1rem 0;
  }
  .wrap-3 .work-buttons {
    margin: 0;
  }
  .wrap-3 .work-buttons .work-btn {
    font-size: 11px !important;
  }
  .wrap-2 {
    margin: 2.5rem 0;
  }
  .wrap-2 .wrap-2-img {
    text-align: center;
  }
  .wrap-2 .wrap-2-img .profile-img {
    max-height: 12rem;
    max-width: 12rem;
  }
  .wrap-2 .education-items {
    margin: 1rem auto;
  }
  footer {
    padding: 1rem 0;
  }
  footer p {
    margin: 0.5rem 0;
  }
}
/* sass ./Sass/main.scss ./css/style.css */

/*# sourceMappingURL=style.css.map */
