@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
.dark {
  background-color: #100f0f;
  color: #fff;
}

.light {
  background-color: #fff;
  color: #100f0f;
}

header {
  color: #fff;
  line-height: 2.5rem;
  padding: 1.5rem 0;
  width: 1440px;
  margin: 0 auto;
}
header .logo #programmer {
  height: 48px;
  width: 48px;
}
header .logo h1 {
  font-size: 1.75rem;
  margin-left: 1rem;
}
header nav ul {
  border: 1px solid #1f1c1c;
  border-radius: 1.5rem;
  width: fit-content;
  margin: 0 auto;
  padding: 0.5rem 1.5rem;
  border-top-width: 2px;
  border-top-color: #b10e45;
  border-bottom-color: rgb(12, 12, 182);
  border-bottom-width: 2px;
}
header nav ul li {
  margin-left: 0.5rem;
}
header nav ul li a {
  font-size: 1.2rem;
  padding: 10px 20px;
  color: inherit;
}
header .btn:hover {
  transition: all 0.3s ease;
  background: linear-gradient(to right, #ffad06, #ff105f);
}
header .btn {
  background: linear-gradient(to right, #ff105f, #ffad06);
  color: #fff;
  padding: 10px 20px;
  font-size: 1.2rem;
  border-radius: 1rem;
  cursor: pointer;
}
header .btnMode {
  background: none;
  border: 1px solid #1f1c1c;
  color: #fff;
  padding: 10px 20px;
  font-size: 1.2rem;
  border-radius: 1rem;
  cursor: pointer;
}
header .btnMode:hover {
  transition: all 0.8s ease;
  background: #ffffff;
  color: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

.body {
  font-family: "Nunito Sans", sans-serif;
  color: #dbcece;
  background-color: #11001f;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 10px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

[class*=col-] {
  padding: 0 10px;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.hr {
  margin: 8rem 0;
  height: 2px;
  background-color: #1f1c1c;
}

.my4 {
  margin: 2rem 0;
}

.my2 {
  margin: 1rem 0;
}

.my1 {
  margin: 0.5rem 0;
}

.col-1 {
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-2 {
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-5 {
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col-8 {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-11 {
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-1 {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.wrap-1 {
  padding: 6rem 0;
  text-align: center;
}
.wrap-1 .wrap-1-img {
  width: 8rem;
  height: auto;
  object-fit: cover;
}
.wrap-1 h2 {
  font-style: 1.5rem bold;
  margin: 1rem 0;
  margin-bottom: 2rem;
}
.wrap-1 p {
  font-size: 4rem;
}
.wrap-1 .btn-cv {
  background-color: #fff;
  color: #000;
  padding: 20px 40px;
  font-size: 1rem;
  border-radius: 1.8rem;
  cursor: pointer;
}
.wrap-1 .btn-hire {
  background: linear-gradient(to right, #ff105f, #ffad06);
  color: #000;
  padding: 20px 40px;
  font-size: 1rem;
  border-radius: 1.8rem;
  cursor: pointer;
  color: #fff !important;
}
.wrap-1 .wrap-1-btn {
  margin-top: 2rem;
}

.wrap-2 {
  margin: 6rem 0;
}
.wrap-2 .wrap-2-img img {
  width: 100%;
  border-radius: 10px;
}
.wrap-2 .heading {
  text-align: center;
  padding: 2rem 0;
  margin-bottom: 1rem;
}
.wrap-2 .heading p {
  font-size: 20px;
  margin: 0.5rem 0;
}
.wrap-2 .heading h2 {
  font-size: 3rem;
}
.wrap-2 .education {
  text-align: left;
}
.wrap-2 .education p {
  font-weight: 500;
}
.wrap-2 .education .education-items {
  min-height: 210px;
  padding: 1.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 1rem;
}
.wrap-2 .education .education-items h4 {
  font-size: 1.2rem;
}
.wrap-2 .education .education-items p {
  font-size: 0.9rem;
}
.wrap-2 .icon {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 0.5rem;
  height: 3rem;
  width: 3rem;
}
.wrap-2 .icon .icon-img {
  width: 100%;
}

.active-btn {
  background-color: #ff0000 !important;
  color: #ffeded !important;
}

.wrap-3 {
  padding: 4rem 0;
}
.wrap-3 .heading {
  text-align: center;
  padding: 2rem 0;
  margin-bottom: 1rem;
}
.wrap-3 .heading p {
  font-size: 20px;
  margin: 0.5rem 0;
}
.wrap-3 .heading h2 {
  font-size: 3rem;
}
.wrap-3 .work-buttons {
  margin: 2rem 0;
}
.wrap-3 .work-buttons .work-btn {
  width: 70%;
  background-color: #1f1c1c;
  color: #fff;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  border-right: 1px solid #fff;
  cursor: pointer;
  transition: all 0.3s;
}
.wrap-3 .work-buttons .work-btn:hover {
  background-color: #fff;
  color: #171515;
}
.wrap-3 .work-buttons :nth-child(1) {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.wrap-3 .work-buttons :nth-child(4) {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-right: none;
}
.wrap-3 .works {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  height: 550px;
  overflow: scroll;
  overflow-x: hidden;
  padding: 1rem;
}
.wrap-3 .works .work-item {
  border: 1px solid #ccc;
  border-radius: 15px;
  position: relative;
}
.wrap-3 .works .work-item .work-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  aspect-ratio: 1/1;
}
.wrap-3 .works .work-item .work-info {
  position: absolute;
  left: 0;
  padding: 0.5rem 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: #10011d;
}
.wrap-3 .works .work-item .work-info p {
  font-size: 1.5rem;
  color: #ffffff;
  text-align: center;
}
.wrap-3 .works .work-item .work-info-2 {
  position: absolute;
  left: 0;
  padding: 0.5rem 0;
  top: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 11;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  cursor: none;
  background-color: #10011d;
}
.wrap-3 .works .work-item .work-info-2 p {
  font-size: 1.5rem;
  color: #ffffff;
  text-align: center;
}
.wrap-3 .works .work-item:hover .work-info {
  transition: all 1s ease;
  visibility: visible;
  opacity: 1;
  bottom: 0;
}
.wrap-3 .works .work-item:hover .work-info-2 {
  transition: all 1s ease;
  visibility: visible;
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
