.dark {
    background-color: #fff !important;
    color: #000 !important;
    
}

.light {
    background-color: #fff;
    color: #100f0f;
}

@mixin btn{
    background:linear-gradient(to right, #ff105f, #ffad06);
    color: #fff;
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 1rem;
    cursor: pointer;
}


header {
    position: sticky;
    top:0;
    z-index: 100;
    .logo{
        #programmer{
            height: 48px;
            width: 48px;
        }
        h1 {
            font-size: 1.75rem;
            margin-left: 1rem;
        }
    }
    color: #fff;
    line-height: 2.5rem;
    padding: 1.5rem 0;
    max-width: 1440px;
    margin: 0 auto;

    .navbtn{
        text-align: right;
        display: none;
    }

    nav {
        ul {
            border: 1px solid #1f1c1c;
            border-radius: 1.5rem;
            width: fit-content;
            margin: 0 auto;
            padding: 0.5rem 1.5rem;
            border-top-width:2px;
            border-top-color:#b10e45;
            border-bottom-color: rgb(12, 12, 182);
            border-bottom-width:2px;

            li {
                margin-left: 0.5rem;

                a {
                    font-size: 1rem;
                    padding: 10px 15px;
                    color: #fff;


                }
                a:hover{
                    color: #ff0055;
                }

            }

        }
    }
.nav-btn{
    background: none;
    border: 1px solid #1f1c1c;
    color: #fff;
    padding: 10px 20px;
    font-size: 2rem;
    border-radius: 1rem;
    cursor: pointer;
    text-align: right;
}

.btn:hover{
    transition: all 0.3s ease;
    background: linear-gradient(to right, #ffad06, #ff105f);
    
}    
.btn {
    @include btn;
}
.btnMode{
    background: none;
    border: 1px solid #1f1c1c;
    color: #fff;
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 1rem;
    cursor: pointer;
}
.btnMode:hover{
    transition: all 0.8s ease;
    background: #ffffff;
    color: #000
}

.show{
    position: absolute;
    left: 0;
    right: 0;
    top: 107px;
    background-color: #200238;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    transition: all 1s ease;
    ul{
        width: 100%;
        border: none;
        flex-direction: column;
        justify-content: end;
        align-items: end;
        li{
            
            margin: 0.5rem 0;
        }


    }
}

}
